/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=========================================
Basic Skeleton Layout
=========================================
*/
body {
    font-family: "Roboto", "YT Sans", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.container {
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
}
header {
    width: 100%;
}
main {
    background-color: pink;
    vertical-align: top;
    display: inline-block;
    padding-top: 24px;
    padding-right: 24px;
    margin-left: 24px;
    /* width: 853px; */
    /* height: 100%; */
    /* flex: 1; */
}
aside {
    display: inline-block;
    background-color: blue;
    min-width: 300px;
    width: 402px;
    height: 100%;
    padding-top: 24px;
    padding-right: 24px;
}
iframe {
    width: calc((100vh - 402px)*16/9);
    height: calc(100vh - 402px);
}

/*
=========================================
Navbar
=========================================
*/
.nav-container {
    display: flex;
    align-items: center;
    height: 56px;
}
.nav-left {
    background-color: #c2606a;
    flex: 0 0 300px;
    text-align: left;
}
.logo {
    width: 80px;
}
.nav-center {
    background-color: #60c270;
    flex: 1 1 400px;
    text-align: center;
}
.search-bar {
    height: 34px;
    border-radius: 2px;
    border: 1px solid #888888;
    border-style: none;
    font-family: "Roboto", Arial, sans-serif;
}
.nav-right {
    background-color: #6082c2;
    flex: 0 0 300px;
    text-align: right;
}

/*
=========================================
Information
=========================================
*/

.title {
    font-size: 1.8rem;
    font-weight: 400;
}

.information {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.information time::before{
    content: "\00b7";
    padding-right: 0.3em;   
}

.subtitle {
    color: #888888;
}
/*
=========================================
Details
=========================================
*/

.details {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}
.uploader-container {
    display: flex;
}
.uploader-container button {
    text-transform: uppercase;
    background: red;
    border-style: none;
    color: white;
    border-radius: 2px;
    font-weight: 500;
}
.uploader-info {
    flex: 1;
}

/*
=========================================
Comments
=========================================
*/

.comments {
    padding: 10px 0;
}

/*
=========================================
Aside
=========================================
*/

.items .video{
    padding-bottom: 10px;
}
.items .video:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.items .video:nth-child(2) {
    padding-top: 10px;
}